Package: {{package}}
Version: {{version}}
Architecture: all
Maintainer: {{maintainer}}
Depends: tar, bzip2
Suggests: mailutils
Description: {{description}}

Files:
/usr/share/doc/files-backup/examples/system.cfg
/usr/share/doc/files-backup/examples/system.exclude
